# General
.env
data/
configs/
*.db
*.sqlite
ssl/
backups/

# Komodo
platform/komodo/backups/
platform/komodo/compose.env

# Security
identity/authentik/data/
identity/authentik/certs/
identity/authentik/custom-templates/
identity/authentik/database/
identity/authentik/logs/
identity/authentik/media/
identity/authentik/static/
identity/authentik/templates/
identity/authentik/tmp/
