# Generic Docker Variables
PUID=1000
PGID=1000
TZ=Pacific/Auckland
DATA_ROOT=/data
APPDATA_ROOT=/srv/appdata

# Gluetun VPN
VPN_SERVICE_PROVIDER=provider-name
VPN_TYPE=openvpn
OPENVPN_USER=change-me
OPENVPN_PASSWORD=change-me
SERVER_CITIES=city-name
HTTPPROXY=off
SHADOWSOCKS=off
HTTP_CONTROL_SERVER_ADDRESS=:8000
HTTP_CONTROL_SERVER_AUTH=off
HTTP_CONTROL_SERVER_LOG=on
HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE=viewer
