# Generic Docker Variables
PUID=1000
PGID=1000
TZ=Pacific/Auckland
DATA_ROOT=/data

# Homepage
HOMEPAGE_ALLOWED_HOSTS=homepage.yourdomain.com
HOMEPAGE_VAR_TITLE=Homelab

# iCloudPD
ICLOUD_USERNAME=your@icloud.com

# Speedtest Tracker
SPEEDTEST_KEY=             # Required: generate with `openssl rand -base64 32`
SPEEDTEST_APP_URL=https://speedtest.yourdomain.com
